In [6]:
# Imports

import pandas as pd
import numpy as np

In [7]:
# Load individual predictions

nn = pd.read_csv('outputs/submission_nn.csv')
rf = pd.read_csv('outputs/submission_rf.csv')
svm = pd.read_csv('outputs/submission_svm.csv')

In [8]:
# Calculate and print percentage of identical predictions for each pair of models

pct_identical_nn_rf = np.mean(nn['Survived'] == rf['Survived'])
pct_identical_nn_svm = np.mean(nn['Survived'] == svm['Survived'])
pct_identical_rf_svm = np.mean(rf['Survived'] == svm['Survived'])

print('Percentage of identical predictions between NN and RF:', pct_identical_nn_rf.round(2))
print('Percentage of identical predictions between NN and SVM:', pct_identical_nn_svm.round(2))
print('Percentage of identical predictions between RF and SVM:', pct_identical_rf_svm.round(2))

Percentage of identical predictions between NN and RF: 0.84
Percentage of identical predictions between NN and SVM: 0.82
Percentage of identical predictions between RF and SVM: 0.93

In [9]:
# Ensemble predictions

submission = pd.DataFrame(columns=['PassengerId', 'Survived'])
submission['Survived'] = pd.concat([nn['Survived'], rf['Survived'], svm['Survived']], axis=1).mode(axis=1)
submission['PassengerId'] = submission.index + 892
submission.head(10)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
5          897         0
6          898         0
7          899         0
8          900         1
9          901         0

In [10]:
# Export to csv

submission.to_csv('outputs/submission_ensemble.csv', index=False)